.statistics {
    width: 400px;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.title {
    margin-bottom: 15px;
    font-size: 42px;
    font-weight: 700;
    text-align: center;
}
.statList {

}
.item {

}
.label {

}
.percentage {

}